<header>
    <p>Вход</p>
    <form action="/auth/login" method="post">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Отправить</button>
    </form>

    <p>Регистраиця</p>
    <form action="/auth/register" method="post">
        <input type="username" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Отправить</button>
    </form>
</header>